<tr>
  <td><%= failed_contact.name %></td>
  <td><%= failed_contact.email %></td>
  <td><%= failed_contact.telephone %></td>
  <td><%= failed_contact.address %></td>
  <td><%= failed_contact.date_of_birth %></td>
  <td><%= show_credit_card_hint(last_digits: failed_contact.card_last_digits) %></td>
  <td><%= failed_contact.franchise %></td>
  <td><%= failed_contact.created_at %></td>
  <td><%= failed_contact.error_messages %></td>
</tr>